@import './fonts.css';

h1 {
    font-family: 'PPMondwest-Bold';
    font-weight: bold;
    font-style: normal;
    color: #000000;
    margin: 0;
}

.home-link {
    font-family: 'PPMondwest-Bold';
    font-weight: bold;
    font-style: normal;  
    text-decoration: none;
    color: black;
  }
  
  .home-link:hover {
    color: rgb(107, 107, 107);
  }